* {
    margin: 0;
    padding: 0;
}

.panel {
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 300px;
    text-align: left;
    padding: 30px 30px 20px;
}

.star {
    background-color: #2d3642;
    border-radius: 50%;
    padding: 10px;
}

h2{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
}



p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

.grouprate {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating {
    background-color: #2d3642;
    color: hsl(217, 12%, 63%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rating:hover {
    color: white;
    background-color: hsl(217, 12%, 63%);
}

.rating:focus {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
    border-radius: 20px;
    height: 40px;
}

.submit:is(:hover, :focus, :active){
    background-color: white;
    color: hsl(25, 97%, 53%);
}
